/*não meche com as cores do meu site, seu newba*/
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: pink;   
}



p{color: rgb(244, 67, 138);}

h1{color:rgb(174, 87, 236);}

h2, h3{color:aqua}

.cartaoroger{
    img{margin-top: 30px;
    width: 250px;}
    width: 50%;
    background-color: rgb(251, 220, 143);
    margin: auto;
    border-radius: 15%;
    border-style:dashed;
}
.amuleto{
    text-align: center;
    margin: auto;
    width: 20%;
    img{width: 30px;}
}