body{text-align: center;
    background-color: pink;}
img{width: 250px;}
p{color: rgb(244, 67, 138);}
h1{color:rgb(111, 42, 208);}
h2, h3{color:aqua}
.cartaoroger{
    width: 40%;
    background-color: aquamarine;
    margin: auto;
}